<div class="login-box">
  <h2>Login</h2>
  <form novalidate [formGroup]="form" (ngSubmit)="login()">
    <div class="user-box">
      <input class="classlogin" type="text" formControlName="username" />
      <label>Username</label>
    </div>
    <div class="user-box">
      <input class="classlogin" type="password" formControlName="password" />
      <label>Password</label>
    </div>
    <div class="remember-box">
      <input
        class="classlogin"
        style="display: inline-block !important"
        type="checkbox"
        formControlName="remember"
      />
      <label>Remember</label>
      <div (click)="register()">Register</div>
    </div>

    <div class="user-box">
      <p class="errors">{{ errors }}</p>
    </div>
    <button appLoginButton id="submit" class="no-styles" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
  </form>
</div>
