<app-navigation-bar></app-navigation-bar>
<app-news-bar></app-news-bar>
<div class="parallax">
  <img class="mlbtitle" src="../../../assets/img/MLB_title.png">
  <a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
</div>
<div class="newrow">Major League Baseball (MLB), organización de béisbol profesional de América del Norte que se formó
  en 1903 con la fusión de las dos ligas de béisbol profesional de Estados Unidos: la Liga Nacional (NL) y la Liga
  Americana (AL).</div>
<div class="parallax"></div>
<div class="newrow">La MLB está formada por 30 equipos: 29 en los Estados Unidos y uno en Canadá. Los equipos juegan 162
  partidos cada temporada y cinco equipos de cada liga avanzan a un campeonato de postemporada entre cuatro equipos, el
  cual culmina con la Serie Mundial.</div>
<div class="parallax"></div>
