/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #243b55 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none !important;
}

html {
  scroll-behavior: smooth !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

a {
  cursor: pointer !important;
}
